@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>This is just a simple checklist app that saves to a backend.</h3>

<p>
    Source available here:<br />
    <a href="https://github.com/jbaseheart/JbaseChecklist">https://github.com/jbaseheart/JbaseChecklist</a>
</p>
<address>
    Jonathan Baseheart<br />
    <a href="mailto:jonathan.baseheart@gmail.com">jonathan.baseheart@gmail.com</a>
</address>
