@{
    ViewData["Title"] = "Home Page";
}

<div id="todoApp" ng-app="jbaseChecklist">
    <div ng-view></div>
</div>

<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/angular-route/angular-route.js"></script>
<script src="~/app/jbaseChecklist.js"></script>
<script src="~/app/services/focus.js"></script>
<script src="~/app/services/dataService.js"></script>
<script src="~/app/services/usersRepository.js"></script>
<script src="~/app/services/checklistRepository.js"></script>
<script src="~/app/controllers/usersController.js"></script>
<script src="~/app/controllers/checklistsController.js"></script>
<script src="~/app/controllers/checklistController.js"></script>
<script src="~/app/controllers/newChecklistController.js"></script>